<%- include("../partials/header") -%>

<div class="container mt-1">
    <div class="row">
        <div class="col-12">
            <form action="/clientes" method="GET">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Digite o nome do cliente" aria-label="Digite o nome do cliente"
                        aria-describedby="button-addon2" name="nome">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Pesquisar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <ul class="list-group">  
        <% clientes.forEach(function(cliente){ %>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-10"><%= cliente.nome %></div>
                    <div class="col"><a href="/clientes/<%= cliente._id%>"><button type="button" class="btn btn-primary">Ver</button></a></div>
                </div>
            </li>
        <% }) %>
    </ul>
    <nav aria-label="Navegação de página exemplo" class="mt-2">
        <ul class="pagination justify-content-center">
            <li class="page-item"><a class="page-link" href="/clientes<%= parseInt(pagina)-1 < 0 ? '#' : '?pg='+(parseInt(pagina)-1) %>">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="/clientes?pg=<%= parseInt(pagina)+1 %>">Próxima</a></li>
        </ul>
    </nav>
</div>

<%- include("../partials/footer") -%>